.card__like {
  transition: 0.4s;
  cursor: pointer;
  padding: 0;
  border: none;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  background-color: #fff;
  height: 19px;
  width: 22px;
}
.card__like:hover {
  opacity: 0.5;
}
.card__like:active {
  background-image: url(../../../images/active-heart.svg);
}
